* {

}

body {
	
	
}

header {
	background-color: yellow;
	width:100%;
}

.newsL {
	position: absolute;
	top:-7px;
	z-index: 103;
	left: 0px;
	padding-top: 0px;
	color: white;
	background-color: #000d1a;
	width:100%;
	height: 25px;
	border-bottom: 1px solid #666666;
	opacity: 1;

}
div.newsL ul li a {
	color:white;
	text-decoration: none;
	text-shadow: 0px 0px 25px #1affff;

}
div.newsL ul li {
	display:inline;
	height:25px;
	width:100%;
}

div.contactL {
	position: absolute;
	left:0px;
	top:17px;

	z-index: 101;
	width:100%;
	background-color: #000000;
	height:30px;
	

}

div.contactL a {
	margin-right: 10px;
	text-decoration:none;
	margin-top: 4px;
	color:white;
	float:right; 
}

div .socialL {
	position: absolute;
	z-index: 102;
	top:4px;
}
div .socialL ul li {
	display: inline-block;
	list-style: none;
	padding-right: 15px;

}

div .socialL ul li a:hover {
	border-radius:40px;
	box-shadow: 0px 0px 20px white;

}

div .socialL img {
	height:20px;
}

div .container {

	background-image: linear-gradient( transparent, #00004d), url('b.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 99;
	left:0px;
	height:53%;
	width:100%;
    
}

div.containerC {
	position: absolute;
	z-index: 600;
	left:0px;
	height:753%;
	width:100%;
}

#navB {
	position: fixed;
	z-index: 11;
	background-color: #000033;
	height: 120px;
	width:100%;
	left:0px;
	top: 0px;
}



#logo {
	position: fixed;
	top:70px;
	left:70px;
	z-index: 120;

}


.navM {
	position: fixed;
	z-index: 521;
	float: right;
	top:48px;
	left:15%;
	width:100%;
	height: 95%;
	letter-spacing:2px;
	
}



.navM ul {
	position: absolute;
}

.navM ul li {
	margin: 25px;
	display: inline-block;
	padding: 10px;

	
	

}

.navM ul li a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	transition: 0.6s;

}

.navM ul li a:hover {
	color: #00cc00;
	
	transition: 0.6s; 

}

.navM ul li ul li {
	display: none;
}

.navM ul li:hover ul li {
	display: block;
	width:150px;
	position: relative;
	left:-105px;
	text-align: center;
	
	border-radius: 10px;
	margin:0px;
	transition: .6s;
}



.navM ul li ul li:hover {
	background-color: white;
}



.banner {
	position: absolute;
	width: 60%;
	top:250px;
	left:300px;
	object-position: center;
	z-index: 124;

}

.b_head {
	position: absolute;
	left:36%;
}

.b_head h1 {

	font-size: 80px;
	color:white;
	text-align: center;
	margin-top: -69px;
}

.b_head p {
	font-size: 18px;
	text-align: justify;
	text-decoration: blink;
	font-weight: bold;
}

.b_head a {
	text-decoration: none;
	font-size: 25px;
	color: #ff6600;
	font-weight: bolder;
}


#sect02 {

}

.eventS {
	position: absolute;
	z-index: 135;
	top: 900px;
	height: 60%;
	width: 100%;


}




.foot1{
	border-top: 4px solid  #003cb3;
	position: fixed;
	z-index: 139;
	background-color: black;
	background-attachment: fixed;
	height: 50px;
	width:100%;
	bottom: 0px;
	left:0px;

}

#one {
	position: absolute;
	z-index: 140;
	bottom: 10px;
	left:10px;
	
}

#one p {
	color: gray;
	font-family: 'Poppins';
}

.but1 {
	position: fixed;
	z-index: 141;
	left: 600px;
	bottom: -50px;

}

.but1 li a {
	color: white;
	text-decoration: none;
	font-size: 20px;

}

.but1 ul li {
	margin: 25px;
	display: inline-block;
	padding: 20px;
	height: 20px; 
	width:100px;
	transition: 0.4s;

}
.but1 ul li:hover {
	border-top:3px solid #003cb3;
	border-left: 2px solid #003cb3;
	border-right: 2px solid #003cb3;
	border-bottom: 1px solid #003cb3;


}

.features {

	position: absolute;
	z-index: 500;
	margin-top: 330px;
	margin-left: 150px;
	background-color: white;
	opacity: 0.3;
    width: 250px;
     height: 70px;



}

#h {

	color: black;

	margin-left: 40px;
	margin-top:15px;
}



#h:hover{

	color: red;
}

.features2{

	position: absolute;
	z-index: 500;
	margin-top: 330px;
	margin-left: 629px;
	background-color: white;
	opacity: 0.3;
    width: 250px;
     height: 70px;


}

#h1{
    color: black;
	margin-left: 13px;
	margin-top:15px;

}

#h1:hover{

	color: red;
}

.features3{

	position: absolute;
	z-index: 500;
	margin-top: 330px;
	margin-left: 1100px;
	background-color: white;
	opacity: 0.3;
    width: 250px;
    height: 70px;


}

#h2{
    color: black;
	margin-left: 19px;
	margin-top:15px;

}

#h2:hover{

	color: red;
}

.features4{

	position: absolute;
	z-index: 500;
	margin-top: 400px;
	margin-left: 148px;
	background-color: white;
    width: 250px;
    height: 70px;


}

#h3{

	text-align: center;
}

.features5{

	position: absolute;
	z-index: 500;
	margin-top: 400px;
	margin-left: 629px;
	background-color: white;
    width: 250px;
    height: 70px;


}

#h4{


	text-align: center;
}

.features6{

	position: absolute;
	z-index: 500;
	margin-top: 400px;
	margin-left: 1100px;
	background-color: white;
    width: 250px;
    height: 70px;


}

#h5{

	text-align: center;
}

.img{


	margin-top: 600px;
	width: 650px;
	height: 370px;
}



 .para{

 	float: right;
 	position: absolute;
 	left:700px;
 	width: 50%;
 	margin-top: -350px;
 	margin-right: 230px;
 }

 .parag{

 	float: right;
 	text-align: justify;
 	margin-left: 700px;
 	margin-top: -265px;

 }

 .goals{
    font-size: 30px;
 	text-align: center;
 	margin-top: 140px;
 }
#pa{

	font-size: 20px;
	margin-top: -30px;

}

.imgg{

margin-left: 70px;  
margin-top: 60px;

  }

  .dots{
  	margin-top: 60px;
  	text-align: center;
  	font-size: 60px;

  }


.accordion{

	float: left;
	margin: 20px 20px 20px 20px;
	margin-top: 30px;



}

.accordion ul li{

	font-size: 30px;
	list-style: none;
	padding-bottom: 13px;
	color: white;
	text-transform: uppercase;


}
.accordion ul{
	background-color: orange;
}

.accordion ul li:hover {

	font-size: 40px;
	
}

.bottom{

	float: right;
	margin-left: 230px;
	margin-top: -190px;
	text-align: left;
}

.footer{

	background-color: black;
}


.footer h4{
	color: white;
	margin-left: 750px;
}

.footer ul{

	margin-top:-18px;
	padding-top: 8px;

}
.footer ul li a{

	text-decoration: none;
	color: grey;
	margin-left: 700px;


}

.footer ul li a:hover{
color: red;
}

@media screen and (max-width: 1500px) {
	.header{
		width:auto;
	}

	.navM{
		width: 100%;
		font-size: 10px;

	}

	.navM ul li {
		padding-right: 5px;
	}

	.navM ul li a {
		font-size: 15px;
	}
	.nBar {
		width:auto;
	}
	#logo a img {
		width: 100%;
	}


	.container{
		width:auto;
	}
	div.banner{
		width:100%;
		font-size: 0.5%;
	}
	div.news{
		width:100%;
	}
	div.con{
		width:100%;
	}
}

@media screen and (max-width: 1160px) {
	.b_head h1 {
		font-size: 80px;
	}
	.b_head p{
		font-size: 18px;
	}


	.navM ul li {
		padding: 0px;
	}
	
}

@media screen and (max-width: 1030px) {
	.b_head h1 {
		font-size: 70px;
	}
	.b_head p{
		font-size: 13px;
	}
	.navM {
		width: 80%;
		top:45px;
		left:180px;
		
	}
	.navM ul li {
		margin-top:  0px;
		padding: 0px;
		



	}
	
}

@media screen and (max-width: 750px) {
	
	.b_head h1 {
		font-size: 65px;
	}
	.b_head p{
		font-size: 15px;
	}
	.button_c a {
		font-size: 25px;
	}
	

}

@media screen and (max-width: 680px) {
	
	.b_head h1 {
		font-size: 60px;
	}
	.b_head p{
		font-size: 15px;
	}
	.navM {
		top:120px;
		left: 15px;

	}
	.navM ul li {
		display: block;
		margin: 5px;
		border-radius: 5px;
		
		
	}

	.navM ul li:hover {
		background-color: white;
	}

	.navM ul li:hover ul li{
		display: none;
	}
	
}

@media screen and (max-width: 615px) {
	
	.b_head h1 {
		font-size: 55px;
	}
	.b_head p{
		font-size: 14px;
	}
	.button_c a {
		font-size: 15px;
	}
}

@media screen and (max-width: 470px) {
	
	.b_head h1 {
		font-size: 45px;
	}
	.b_head p{
		font-size: 12px;
	}
}



@media screen and (height: 10px) {
	.navM {
		display: none;
	}


}
